html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.GCONT {
   position:relative;
}

.right_panel_head {
	float: right;
}

.left_panel_head {
	float: left;
}

.top_panel_head {
	height: 80px;
}

#DelProjectBtn {
	cursor: pointer;
}

.DelProjectBt, .glyphicon-trash, .BTNEDIT, .BTNDELETE, .ADDFILESTR, .BTNHOWTO {
	cursor: pointer;
}

.BTNEDIT, .BTNDELETE, .BTNHOWTO {
	margin-left: 4px;
}

.ADDFILESTR{
	margin: 7px;
}

#email {
 margin:10px;
}

.proj_btn_stat {
	float: left;
    margin-top: 3px;
    margin-right: 30px;
}
.infopanel1 {
    padding: 25px 90px 40px 30px;
    margin-bottom: 5px;
    background: #f7f1e9;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(121,60,8,.3),0 2px 2px 0 rgba(121,60,8,.2),0 4px 8px 0 rgba(121,60,8,.1);
}

.BTN_MAIN1{
	min-width: 200px;
	margin-right: 25px;
}
.mainbuttondiv {
	margin-top: -25px;
    margin-left: 15px;
}

#footer {

    height: 25px;
    width: 100%;
    left: 0;
    text-align: right;
  background-color: #f5f5f5;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -25px;
  /* Pad bottom by footer height */
  padding: 0 0 25px;
}